@use '../../field-ui/src/lib/styles/tokens';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--field-font-family);
  background-color: #1a1a1a;
  color: rgba(253, 253, 253, 0.9);
  overflow: hidden;
}

app-root {
  display: block;
  height: 100%;
}
